# Pandas basics: the cats dataset

- Downloading and reading CSV files into Pandas dataframes
- Structure of a dataframe
- Boolean indexing with `.loc` to extract parts of the data
- Basic data manipulation: summary statistics, sorting

`pandas.pydata.org`

---

## Datasets

[Pet Cats UK](https://github.com/rfordatascience/tidytuesday/tree/master/data/2023/2023-01-31)

Cat information:

`https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk_reference.csv`

Cat activity log:

`https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk.csv`

In [6]:
import pandas as pd

cat_info = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-01-31/cats_uk_reference.csv')
cat_info.head()

,tag_id,animal_id,animal_taxon,deploy_on_date,deploy_off_date,hunt,prey_p_month,animal_reproductive_condition,animal_sex,hrs_indoors,n_cats,food_dry,food_wet,food_other,study_site,age_years
0,Tommy-Tag,Tommy,Felis catus,2017-06-03T01:02:09Z,2017-06-10T02:10:52Z,True,12.5,Neutered,m,12.5,2,True,True,False,UK,11.0
1,Athena,Athena,Felis catus,2017-06-24T01:02:13Z,2017-06-30T23:59:32Z,True,3.0,Spayed,f,7.5,2,True,True,False,UK,3.0
2,Ares,Ares,Felis catus,2017-06-24T01:03:57Z,2017-06-30T23:58:01Z,NaN,0.0,Neutered,m,7.5,2,True,True,False,UK,3.0
3,Lola,Lola,Felis catus,2017-06-24T01:18:49Z,2017-06-30T09:04:40Z,True,3.0,Spayed,f,17.5,1,True,True,False,UK,10.0
4,Maverick,Maverick,Felis catus,2017-06-25T01:04:35Z,2017-07-03T09:10:07Z,True,3.0,Neutered,m,12.5,1,True,True,True,UK,7.0

In [7]:
cat_info.describe()

       prey_p_month  hrs_indoors      n_cats   age_years
count    101.000000   101.000000  101.000000  100.000000
mean       3.742574    11.856436    2.079208    5.420000
std        4.831467     5.227971    0.996827    3.384994
min        0.000000     2.500000    1.000000    0.000000
25%        0.500000     7.500000    1.000000    3.000000
50%        3.000000    12.500000    2.000000    5.000000
75%        3.000000    17.500000    3.000000    8.000000
max       17.500000    22.500000    4.000000   16.000000

In [8]:
cat_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tag_id                         101 non-null    object
 1   animal_id                      101 non-null    object
 2   animal_taxon                   101 non-null    object
 3   deploy_on_date                 101 non-null    object
 4   deploy_off_date                101 non-null    object
 5   hunt                           92 non-null     object
 6   prey_p_month                   101 non-null    float64
 7   animal_reproductive_condition  98 non-null     object
 8   animal_sex                     101 non-null    object
 9   hrs_indoors                    101 non-null    float64
 10  n_cats                         101 non-null    int64
 11  food_dry                       101 non-null    bool
 12  food_wet                       101 non-null    bool
 13  food_other                     91 non-null     object
 14  study_site                     101 non-null    object
 15  age_years                      100 non-null    float64
dtypes: bool(2), float64(3), int64(1), object(10)
memory usage: 11.4+ KB

In [11]:
# Only show name and age of the cats
# cat_info['animal_id']
# cat_info['age_years']
cat_info[['animal_id', 'age_years']]

          animal_id  age_years
0             Tommy       11.0
1            Athena        3.0
2              Ares        3.0
3              Lola       10.0
4          Maverick        7.0
..              ...        ...
96         Charlie3        5.0
97           Millie        3.0
98   SmokeyLongnose        9.0
99               CJ        5.0
100             Seb        3.0

[101 rows x 2 columns]

In [16]:
# Show the names of only the female cats
selector = cat_info['animal_sex'] == 'f'
# print(selector)
cat_info.loc[selector, ['animal_id', 'age_years']]

         animal_id  age_years
1           Athena        3.0
3             Lola       10.0
5             Coco        7.0
9           Nettle        4.0
10             Meg        8.0
14           Jessy       11.0
16          Sparky        8.0
20           Mifty        2.0
23          Poppet       10.0
27             Tom        3.0
29           Bella        3.0
30    Ladyboyhawke        5.0
33            Ebby       10.0
35         Bumbles       12.0
36           Chloe        7.0
40             Sid        4.0
42           Amber        4.0
44            Bits       13.0
47            Bobs       13.0
50           Magic        3.0
52            Dory        1.0
57         Jezebel       14.0
58           Boots       16.0
61           Freya        4.0
63           Tipsy        0.0
64           Flash        3.0
65          Gracie        2.0
66           Teddy        9.0
69          Reggie        8.0
70          Jessie        5.0
72        Gracie_2        6.0
74           Tilly        5.0
75            Balu        7.0
76           Missy        3.0
80          Maggie        3.0
81            Lily        9.0
82            Abba        3.0
83            Worf        8.0
85             Jim        8.0
86            Lucy        5.0
87  Macaulay Mccat        6.0
91            Neva        4.0
97          Millie        3.0
98  SmokeyLongnose        9.0

List the spayed/neutered female cats who are 10 years old or older, from oldest to youngest.

In [24]:
selector = (cat_info['animal_sex'] == 'f') & \
    (cat_info['age_years'] >= 10) & \
    ((cat_info['animal_reproductive_condition'] == 'Spayed') | \
        (cat_info['animal_reproductive_condition'] == 'Neutered'))
# print(selector)

old_female_cats = cat_info.loc[selector, ['animal_id', 'age_years']]
old_female_cats.sort_values(by=['age_years'], ascending=False)

   animal_id  age_years
58     Boots       16.0
57   Jezebel       14.0
44      Bits       13.0
47      Bobs       13.0
35   Bumbles       12.0
14     Jessy       11.0
3       Lola       10.0
33      Ebby       10.0
23    Poppet       10.0